<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <script>
            let url = "http://localhost:8080/api/user-management/user/download";

            let options = {
                method: "GET",
            };

            fetch(url, options)
                .then((res) => {
                    console.log("res", res.url);
                    return res.json();
                })
                .then((json) => console.log(json));
        </script>
    </body>
</html> -->
